extends layout.pug

block VistaLinks
	script(src="scripts/home.js")
	link(href="css/home.css", rel="stylesheet")

block VistaCuerpo
	form.espacioLateral.form-horizontal
		.form-group
			label.col-sm-2.control-label(for='txUri') URI:
			.col-sm-10
				input#txUri.form-control(type='text', placeholder='mongodb://...')
		.form-group
			label.col-sm-2.control-label(for='txColeccion') Colección:
			.col-sm-10
				input#txColeccion.form-control(type='text', placeholder='Colección')
		.form-group
			label.col-sm-2.control-label(for='txFiltro') Filtros:
			.col-sm-10
				input#txFiltro.form-control(type='text', placeholder='{}', value='{}')
		.form-group
			label.col-sm-2.control-label(for='txArchivo') Nombre de archivo de salida:
			.col-sm-10
				input#txArchivo.form-control(type='text', placeholder='Resultado.txt', value='Resultado.txt')
		.form-group
			.col-sm-offset-2.col-sm-2
				input#btConsultar.form-control.btn.btn-primary(type='button', value="Consultar", onclick="consultar()")

	#contenedorAlertas.espacioLateral
		//- Aquí se generan los distintos alerts para el usuario